---
import { imageWithDefaults } from '../../lib/sanityImage';
import Media from '../Media.astro';
import type { Hero } from '../../lib/sanityTypes';

interface Props {
  node: Hero;
}

const { node } = Astro.props;
---

<div class="pb-48">
  <div class="mt-48 min-h-16 md:min-h-12 mb-6">
    {node.title}
    <div class="text-gray-500 dark:text-gray-400">{node.subtitle}</div>
  </div>
  {
    node.image && (
      <Media>
        <img
          src={imageWithDefaults(node.image).width(1392).url()}
          srcset={`
          ${imageWithDefaults(node.image).width(1392).url()} 1x,
          ${imageWithDefaults(node.image).width(2784).url()} 2x
        `}
          alt={node.title || ''}
          loading="eager"
          decoding="async"
          slot="media"
          class="w-full h-auto"
          width="1392"
          height="783"
        />
      </Media>
    )
  }
</div>
