---
import { imageWithDefaults } from '../../lib/sanityImage';
import Media from '../Media.astro';
import type { Hero } from '../../lib/sanityTypes';

interface Props {
  node: Hero;
}

const { node } = Astro.props;
---

<div class="pb-48">
  <div class="mt-48 mb-12 text-center max-w-[768px] m-auto">
    <div class="text-6xl sm:text-8xl leading-16 sm:leading-24 font-bold tracking-tightest mb-8">
      {node.title}
    </div>
    <div class="text-foreground-secondary body-lg">{node.subtitle}</div>
  </div>
  {
    node.image && (
      <Media>
        <img
          src={imageWithDefaults(node.image).width(1392).url()}
          srcset={`
          ${imageWithDefaults(node.image).width(1392).url()} 1x,
          ${imageWithDefaults(node.image).width(2784).url()} 2x
        `}
          alt={node.title || ''}
          loading="eager"
          decoding="async"
          slot="media"
          class="w-full h-auto"
          width="1392"
          height="783"
        />
      </Media>
    )
  }
</div>
