---
import Media from '../Media.astro';
import { imageWithDefaults } from '../../lib/sanityImage';
import type { WorkMedia } from '../../lib/sanityTypes';

interface Props {
  node: WorkMedia;
}

const { node } = Astro.props;
const image = node.image;
const video = node.video;

const isImage = !!image;
const isVideo = !!video;
const videoUrl =
  isVideo && video.asset
    ? `https://cdn.sanity.io/files/${import.meta.env.SANITY_STUDIO_PROJECT_ID}/${import.meta.env.SANITY_STUDIO_DATASET}/${video.asset._ref.replace('file-', '').replace(/-/g, '.').replace('.mp4.', '.mp4')}`
    : null;
---

<section class="pb-48">
  <Media>
    {
      isImage && (
        <img
          src={imageWithDefaults(image).width(1392).url()}
          srcset={`
          ${imageWithDefaults(image).width(1392).url()} 1x,
          ${imageWithDefaults(image).width(2784).url()} 2x
        `}
          alt={node.text || ''}
          loading="lazy"
          decoding="async"
          slot="media"
          class="w-full h-auto"
          width="1392"
          height="783"
        />
      )
    }
    {
      isVideo && (
        <video src={videoUrl} playsinline muted autoplay loop slot="media" class="w-full h-auto" />
      )
    }
  </Media>
  <div class="grid sm:grid-cols-2 pt-6 sm:gap-6">
    <div></div>
    <p>{node.text}</p>
  </div>
</section>
