---
import { sanityClient } from 'sanity:client';
import { imageWithDefaults } from '../lib/sanityImage';
import Layout from '../layouts/Layout.astro';
import Media from '../components/Media.astro';
import type { Work } from '../lib/sanityTypes';

const works = await sanityClient.fetch<Work[]>(
  `*[_type == "work" && defined(slug.current)] | order(publishedAt desc)`
);
---

<Layout title="Work">
  <div class="mt-48 mb-12 headline-xl">Work</div>
  <div class="grid grid-cols-1 gap-y-12 pb-48">
    {
      works.map(
        (work) =>
          work.image &&
          work.slug?.current && (
            <a href={`/work/${work.slug.current}`}>
              <Media>
                <img
                  src={imageWithDefaults(work.image).width(684).url()}
                  srcset={`
                ${imageWithDefaults(work.image).width(1392).url()} 1x,
                ${imageWithDefaults(work.image).width(2784).url()} 2x
              `}
                  alt={work.title || ''}
                  loading="lazy"
                  decoding="async"
                  slot="media"
                  class="w-full h-auto"
                  width="684"
                  height="385"
                />
              </Media>
              <div class="mt-3 headline-xs">{work.title}</div>
              <div class="text-foreground-secondary">{work.subline}</div>
            </a>
          )
      )
    }
  </div>
</Layout>
