---
export interface Props {
  text: string;
  href?: string;
  target?: string;
  rel?: string;
  variant: 'primary' | 'secondary' | 'tertiary';
}

const { text, href, target, rel, variant = 'primary' } = Astro.props;

const baseStyles = [
  'inline-flex items-center justify-center rounded-full text-sm',
  'transition-colors duration-200',
  'px-3 py-1 gap-2',
];

const variantStyles = {
  primary: ['bg-interactive-primary-default text-white', 'hover:bg-interactive-primary-hover'],
  secondary: [
    'bg-interactive-secondary-default text-foreground-inverted',
    'hover:bg-interactive-secondary-hover',
  ],
  tertiary: ['border border-border-subtle', 'hover:bg-interactive-tertiary-hover'],
};

const buttonClasses = [...baseStyles, ...variantStyles[variant]].join(' ');
---

<a href={href} class={buttonClasses} target={target} rel={rel}>
  <slot name="icon-left" />
  {text}
  <slot name="icon-right" />
</a>
