---
import { sanityClient } from "sanity:client"

const pages = await sanityClient.fetch(`*[_type == "page" && showInMenu == true && isHome != true] | order(orderRank asc) {
  title,
  slug
}`)

const page_home = await sanityClient.fetch(`*[_type == "page" && isHome == true][0] { title }`)
---
<header class="grid grid-cols-2 border-b-1 border-b-gray-200 dark:border-b-gray-800 py-5 gap-6">
  <div>
    <a href="/" class="inline-block">
      <div>{import.meta.env.PUBLIC_SITE_NAME}</div>
      <div class="text-gray-500">{import.meta.env.PUBLIC_SITE_TITLE}</div>
    </a>
  </div>
  <div class="flex gap-6">
    <a href="/">{page_home.title}</a>
    {pages.map((page: typeof pages[number]) => (
      <a href={`/${page.slug.current}`}>{page.title}</a>
    ))}
  </div>
</header>
