---
import { sanityClient } from "sanity:client"

const pages = await sanityClient.fetch(`*[_type == "page" && showInMenu == true && isHome != true] | order(orderRank asc) {
  title,
  slug
}`)

const page_home = await sanityClient.fetch(`*[_type == "page" && isHome == true][0] { title }`)

const { title } = Astro.props;

const currentPath = Astro.url.pathname;
const getNavClass = (isActive: boolean) => isActive ? "" : "text-gray-500 dark:text-gray-400";
---
<header class="grid sm:grid-cols-2 py-5 gap-4 sm:gap-6">
  <div>
    <a href="/">{title}</a>
  </div>
  <nav class="grid grid-cols-4 sm:flex gap-4 sm:gap-6">
    <a
      href="/"
      class={getNavClass(currentPath === "/")}
    >{page_home.title}</a>
    <a
      href="/work"
      class={getNavClass(currentPath.startsWith("/work"))}
    >Work</a>
    {pages.map((page: typeof pages[number]) => (
      <a
        href={`/${page.slug.current}`}
        class={getNavClass(currentPath === `/${page.slug.current}`)}
      >{page.title}</a>
    ))}
  </nav>
</header>
