---
import Media from '../../components/Media.astro';
import { sanityClient } from 'sanity:client';
import { imageWithDefaults } from '../../lib/sanityImage';
import { Image } from 'astro:assets';
import Layout from '../../layouts/Layout.astro';
import BlockContent from '../../components/BlockContent.astro';
import type { Work } from '../../lib/sanityTypes';

export async function getStaticPaths() {
  const works = await sanityClient.fetch<Work[]>(`*[_type == "work" && defined(slug.current)]`);

  return works.map((work) => ({
    params: { slug: work.slug?.current },
  }));
}

const { slug } = Astro.params;

const work = await sanityClient.fetch<Work>(`*[_type == "work" && slug.current == $slug][0]{...}`, {
  slug,
});
---

<Layout title=`${work.title}` description=`${work.subline}`>
  <div class="mt-48 min-h-16 md:min-h-12 mb-6">
    <div class="headline-xl mb-4">{work.title}</div>
    <div class="text-foreground-secondary">{work.subline}</div>
  </div>
  <div class="pb-48">
    {
      work.image && (
        <Media>
          <img
            src={imageWithDefaults(work.image).width(1392).url()}
            srcset={`
            ${imageWithDefaults(work.image).width(1392).url()} 1x,
            ${imageWithDefaults(work.image).width(2784).url()} 2x
          `}
            alt={work.title || ''}
            loading="eager"
            decoding="async"
            slot="media"
            class="w-full h-auto"
            width="1392"
            height="783"
          />
        </Media>
      )
    }
  </div>
  <section class:list={['sm:grid sm:grid-cols-2 gap-6 min-h-section pt-6 pb-48']}>
    <div class="flex flex-col gap-4 pt-6"></div>
    <div class="flex flex-col gap-4 py-6 border-t border-border-subtle">
      <ul class="divide-y divide-border-subtle space-y-6">
        <li class="pb-6 grid grid-cols-2 gap-6">
          <span>Industry</span>
          <span>{work.industry}</span>
        </li>
        <li class="pb-6 grid grid-cols-2 gap-6">
          <span>Company Size</span>
          <span>{work.company_size}</span>
        </li>
        <li class="pb-6 grid grid-cols-2 gap-6">
          <span>Project Team</span>
          <div>
            <BlockContent value={work.project_team} />
          </div>
        </li>
        <li class="pb-6 grid lg:grid-cols-2 gap-3 lg:gap-6">
          <span>Role</span>
          <span>{work.role}</span>
        </li>
        <li class="pb-6 grid lg:grid-cols-2 gap-3 lg:gap-6">
          <span>Process</span>
          <span>{work.process}</span>
        </li>
      </ul>
    </div>
  </section>
  <BlockContent value={work.body} />
</Layout>
