---
import '../styles/global.css';
import { sanityClient } from 'sanity:client';
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import type { Configuration } from '../lib/sanityTypes';

interface Props {
  title?: string;
  description?: string;
  maxWidth?: 'narrow' | 'default';
}

const configuration = await sanityClient.fetch<Configuration>(`*[_type == "configuration"][0]`);
const { title: propTitle, description: propDescription, maxWidth = 'default' } = Astro.props;
const { title: configTitle, description: configDescription, ogImage } = configuration;
const title = propTitle
  ? `${propTitle} | ${configTitle || 'Portfolio'}`
  : configTitle || 'Portfolio';
const description = propDescription || configDescription || '';

const maxWidthClass = maxWidth === 'narrow' ? 'max-w-4xl m-auto w-full' : '';
---

<!doctype html>
<html lang="en" class="bg-background text-foreground-primary">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>

    <Head title={title} description={description} ogImage={ogImage} />
  </head>
  <body class="text-base px-4 sm:px-6 aria-expanded:overflow-hidden">
    <div class="flex flex-col min-h-screen max-w-8xl m-auto">
      <Header title={configTitle || 'Portfolio'} />

      <main class={`grow ${maxWidthClass}`}>
        <slot />
      </main>

      <Footer title={configTitle || 'Portfolio'} />
    </div>
  </body>
</html>
