---
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'
import { sanityClient } from 'sanity:client';
import { ClientRouter } from "astro:transitions";

const configuration = await sanityClient.fetch(`*[_type == "configuration"][0]`);
const { title: propTitle } = Astro.props;
const { title: configTitle, subline, ogImage } = configuration;
const title = propTitle ? `${propTitle} | ${configTitle}` : configTitle;
---
<!doctype html>
<html lang="en" class="bg-white text-black dark:bg-black dark:text-white overflow-y-scroll" transition:animate="none">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<Head title={title} ogImage={ogImage} />
    <ClientRouter />
	</head>
	<body class="px-4 sm:px-6 text-sm">
		<div class="max-w-8xl m-auto">
			<Header title={configTitle} subline={subline} />

			<main transition:animate="fade">
				<slot />
			</main>

			<Footer title={configTitle} />
		</div>
	</body>
</html>
