---
import '../styles/global.css'
import { sanityClient } from 'sanity:client';
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

import '@fontsource/inter'

const configuration = await sanityClient.fetch(`*[_type == "configuration"][0]`);
const { title: propTitle, description: propDescription } = Astro.props;
const { title: configTitle, description: configDescription, ogImage } = configuration;
const title = propTitle ? `${propTitle} | ${configTitle}` : configTitle;
const description = propDescription ? propDescription : configDescription;
---
<!doctype html>
<html
  lang="en"
  class="bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-300 overflow-y-scroll"
>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<title>{title}</title>

		<Head title={title} description={description} ogImage={ogImage} />
	</head>
	<body class="text-sm 2xl:text-base">
		<div class="max-w-8xl m-auto px-4 sm:px-6 min-h-dvh flex flex-col">
			<Header title={configTitle} />

			<main class="flex-grow">
				<slot />
			</main>

			<Footer title={configTitle} />
		</div>
	</body>
</html>
